<header>
	<h1>Welcome to the StudentApp!</h1>
</header>

<nav>
	<ul>
		<% @pages.each do |page| %>
			<li><%= link_to page.name, page_url(page.id) %></li>
		<% end %>		
	</ul>
</nav>

<div>
	<p>Cool Stuff coming soon.</p>
</div>

<footer>
	<p><%= @page_footer %></p>
</footer>