<header>
	<h1>Welcome to the StudentApp!</h1>
	<ul>
		<li>
			<%= link_to "Home", "/pages" %>
		</li>
		<li>
			<%= link_to "Flashcards", "pages/flashcards" %>
		</li>
		<li>
			<%= link_to "Calendar", "pages/calendar" %>
		</li>
		<li>
			<%= link_to "Classmates", "pages/classmates" %>
		</li>
	</ul>
</header>


