body {
	background-color: #000;
	color: #FFF;
	font-family: Helvetica;
	margin: 0px;}
body a { text-decoration: none;}
body a:link {color: #000;}
body a:visited {color: #000;}
body a:hover {color: yellow;}

header {
	background-color: #1189D9;
	font-size: 12px; 
	margin: 0;
	padding: 10px;}

nav {
	background-color: #FFF;
	color: #1189D9;
	margin: 0;
	padding: 10px; }

nav ul li {
	display: inline-block;
	list-style: none; }

nav ul li a {
	border-radius: 5px;
	display: block;
	background-color: #1189D9;
	padding: 15px; }	

div {
	background-color: #bbb;
	padding: 100px;
	margin: 0; }

#right_butt { float: right; }

footer {
	clear: both;
	background-color: #1189D9;
	font-size: 12px; 
	margin: 0;
	padding: 20px; }